@import "tailwindcss";

:root {
  --radius: 0.85rem;

  /* Fondos */
  --background: #FAFAFA;
  --foreground: #111827;

  /* Cards */
  --card: #FFFFFF;
  --card-foreground: #111827;

  --popover: #FFFFFF;
  --popover-foreground: #111827;

  /* Marca */
  --primary: #C1121F;
  --primary-foreground: #FFFFFF;

  /* Grises */
  --secondary: #F3F4F6;
  --secondary-foreground: #111827;

  /* Azul */
  --accent: #2563EB;
  --accent-foreground: #FFFFFF;

  --muted: #F8FAFC;
  --muted-foreground: #6B7280;

  /* Inputs */
  --border: #E5E7EB;
  --input: #E5E7EB;
  --ring: #C1121F;

  /* Estados */
  --destructive: #DC2626;
  --destructive-foreground: #FFFFFF;

  /* Sidebar */
  --sidebar: #FFFFFF;
  --sidebar-foreground: #111827;
  --sidebar-primary: #C1121F;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #F3F4F6;
  --sidebar-accent-foreground: #111827;
  --sidebar-border: #E5E7EB;
  --sidebar-ring: #C1121F;
}

.dark {
  --background: #0F172A;
  --foreground: #F8FAFC;

  --card: #1E293B;
  --card-foreground: #F8FAFC;

  --popover: #1E293B;
  --popover-foreground: #F8FAFC;

  --primary: #C1121F;
  --primary-foreground: #FFFFFF;

  --secondary: #334155;
  --secondary-foreground: #F8FAFC;

  --accent: #2563EB;
  --accent-foreground: #FFFFFF;

  --muted: #1E293B;
  --muted-foreground: #CBD5E1;

  --border: #334155;
  --input: #334155;
  --ring: #C1121F;

  --sidebar: #111827;
  --sidebar-foreground: #F8FAFC;
  --sidebar-primary: #C1121F;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #334155;
  --sidebar-accent-foreground: #F8FAFC;
  --sidebar-border: #334155;
  --sidebar-ring: #C1121F;
}